header{
    background-color: #6f42c1;
    padding: 20px;
}

/*
.caixaTitulo{
    position: relative;
    width: 940px;
    height: 150px;
    margin: 0 auto;
}

.caixaCorpo{
    position: relative;
    width: 940px;
    height: 350px;
    margin: 0 auto;
}

.caixaRodape{
    position: relative;
    width: 940px;
    height: 150px;
    margin: 0 auto;
}

nav{
    position: relative;
    top: 110px;
    text-align: center;

    text-transform: uppercase;
    color: black;
    
    font-size: 22px;
    font-weight: bold;
}
*/
footer{
    text-align: center;
    background: url("/images/bg.jpg");
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}